@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,400italic,700&subset=latin,cyrillic-ext);
body {
  font-family: 'Open Sans', sans-serif; }

.heading {
  font-size: 36px;
  font-weight: 100;
  text-align: center; }
  @media (max-width: 767px) {
    .heading {
      font-size: 24px; } }

.heading--sign {
  font-size: 18px;
  color: #274953;
  font-weight: 100; }
  @media (max-width: 767px) {
    .heading--sign {
      font-size: 16px; } }

.heading--stripes {
  position: relative; }
  .heading--stripes:before, .heading--stripes:after {
    content: " ";
    position: absolute;
    background: #f3f4f4;
    height: 10px;
    width: 40%;
    top: 50%;
    margin-top: -5px; }
  .heading--stripes:before {
    right: 100%;
    margin-right: 20px; }
  .heading--stripes:after {
    left: 100%;
    margin-left: 20px; }
  @media (max-width: 767px) {
    .heading--stripes:before, .heading--stripes:after {
      display: none; } }

.heading--stripes-wrap {
  overflow: hidden; }

@media (max-width: 1200px) {
  .container {
    width: 100%; } }
.button-main {
  border-radius: 25px;
  padding: 0px 30px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 100;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  background: #22b14d;
  border: none; }
  .button-main:hover, .button-main:focus {
    text-decoration: none;
    color: #ffffff; }

.mt-15 {
  margin-top: 15px; }

.mt-30 {
  margin-top: 30px; }

.mt-60 {
  margin-top: 60px; }

.mt-100 {
  margin-top: 100px; }

.mb-80 {
  margin-bottom: 80px; }

.color-main {
  color: #22b14d; }

@media (max-width: 767px) {
  .hidden--xs {
    display: none; } }

@media (max-width: 1023px) {
  .hidden--sm {
    display: none; } }

.show--xs {
  display: none; }
  @media (max-width: 767px) {
    .show--xs {
      display: block; } }

@media (max-width: 767px) {
  .mt-40--xs {
    margin-top: 40px; } }

@media (max-width: 767px) {
  .mt-30--xs {
    margin-top: 30px; } }

@media (max-width: 767px) {
  .mb-40--xs {
    margin-bottom: 40px; } }

.header {
  background: #313341;
  color: #ffffff; }

.logo {
  color: #ffffff;
  line-height: 75px;
  height: 75px;
  text-decoration: none;
  display: inline-block; }
  @media (max-width: 1024px) {
    .logo {
      line-height: 50px;
      height: 50px; } }
  @media (max-width: 480px) {
    .logo {
      margin: 0 -10px;
      margin-right: -70px; } }

.logo--img {
  vertical-align: middle;
  max-width: 100%; }

.logo--text {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  margin-bottom: -5px;
  color: #b6b8c4; }

.logo--divider {
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 100;
  color: #65b57d;
  margin: 0 5px; }

.header-nav {
  margin: 0;
  padding: 0; }
  @media (max-width: 820px) {
    .header-nav {
      margin: 0 -15px; } }

.header-nav--item {
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase;
  line-height: 75px;
  height: 75px;
  font-size: 12px;
  padding-right: 10px;
  margin-right: 10px; }
  .header-nav--item.active {
    border-bottom: 4px solid #65b57d; }
  @media (max-width: 1024px) {
    .header-nav--item {
      line-height: 50px;
      height: 50px;
      font-size: 11px; } }
  @media (max-width: 820px) {
    .header-nav--item {
      font-size: 10px; } }

.header-nav--item-link {
  color: #b6b8c4; }
  .header-nav--item-link:hover {
    text-decoration: none;
    color: #b6b8c4; }

@media (max-width: 1200px) {
  .header--button {
    padding: 0 19px; } }
@media (max-width: 1024px) {
  .header--button {
    font-size: 11px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px; } }
@media (max-width: 480px) {
  .header--button {
    margin: 15px -10px;
    font-size: 10px; } }

.footer {
  background: #2d333a;
  color: #c9cacc;
  padding: 30px 0 45px; }

.footer--link {
  color: #c9cacc; }
  .footer--link:hover {
    color: #c9cacc; }

.footer--email {
  font-size: 16px;
  color: #c9cacc;
  text-decoration: underline; }
  .footer--email:hover {
    color: #c9cacc;
    text-decoration: none; }

.footer--list {
  margin: 0;
  padding: 0; }

.footer--list-item {
  list-style-type: none;
  display: inline; }

.icon-circle {
  color: #545454; }

.icon-symbol {
  color: #2d333a; }

.main {
  height: calc(100vh - 75px);
  background-color: #2d3743;
  position: relative;
  display: flex;
  justify-content: center; }

.main--image {
  align-self: center;
  width: 525px;
  height: 643px;
  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-size: 100%; }
  @media (max-width: 1440px) {
    .main--image {
      width: 400px;
      height: 490px; } }
  @media (max-width: 1370px) {
    .main--image {
      width: 340px;
      height: 410px; } }
  @media (max-width: 1024px) {
    .main--image {
      margin-top: 39%; } }
  @media (max-width: 767px) {
    .main--image {
      margin: -15px 0 0;
      margin-right: -35px;
      width: 220px;
      height: 265px; } }

.main--heading {
  color: #ffffff;
  margin-top: 65px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0; }
  @media (max-width: 1440px) {
    .main--heading {
      margin-top: 40px; } }
  @media (max-width: 1024px) {
    .main--heading {
      font-size: 24px; } }
  @media (max-width: 767px) {
    .main--heading {
      font-size: 20px;
      padding: 0 15px;
      margin-top: 30px;
      line-height: 1.5; } }

.main-textbox, .main-textbox_mobile {
  background: linear-gradient(to top, #dbe9e9, #ffffff);
  color: #274953;
  border-radius: 10px;
  position: absolute;
  padding: 10px 20px; }

.main-textbox_mobile {
  position: static;
  width: 100%;
  height: 55px;
  font-size: 13px;
  text-align: center;
  padding: 10px; }

.main-textbox--arrow {
  background: #53aac4;
  width: 50px;
  position: absolute;
  height: 1px; }

.main-textbox.one, .one.main-textbox_mobile {
  left: 60%;
  top: 25%; }
  .main-textbox.one .main-textbox--arrow, .one.main-textbox_mobile .main-textbox--arrow {
    top: 100%;
    right: 100%;
    transform: rotate(-45deg);
    margin-top: 20px;
    margin-right: -5px; }
  @media (max-width: 1680px) {
    .main-textbox.one, .one.main-textbox_mobile {
      top: 18%; } }
  @media (max-width: 1440px) {
    .main-textbox.one, .one.main-textbox_mobile {
      top: 20%; } }
  @media (max-width: 1370px) {
    .main-textbox.one, .one.main-textbox_mobile {
      top: 15%; } }
  @media (max-width: 1024px) {
    .main-textbox.one, .one.main-textbox_mobile {
      top: 35%; } }

.main-textbox.two, .two.main-textbox_mobile {
  top: 55%;
  left: 66%; }
  .main-textbox.two .main-textbox--arrow, .two.main-textbox_mobile .main-textbox--arrow {
    bottom: 100%;
    right: 100%;
    transform: rotate(45deg);
    margin-bottom: 20px;
    margin-right: -5px; }
  @media (max-width: 1680px) {
    .main-textbox.two, .two.main-textbox_mobile {
      top: 50%;
      left: 69%; } }
  @media (max-width: 1370px) {
    .main-textbox.two, .two.main-textbox_mobile {
      left: 65%; } }
  @media (max-width: 1024px) {
    .main-textbox.two, .two.main-textbox_mobile {
      top: 86%;
      left: 69%; } }

.main-textbox.three, .three.main-textbox_mobile {
  top: 70%;
  left: 62%; }
  .main-textbox.three .main-textbox--arrow, .three.main-textbox_mobile .main-textbox--arrow {
    bottom: 100%;
    right: 100%;
    transform: rotate(45deg);
    margin-bottom: 20px;
    margin-right: -5px; }
  @media (max-width: 1680px) {
    .main-textbox.three, .three.main-textbox_mobile {
      top: 63%; } }
  @media (max-width: 1370px) {
    .main-textbox.three, .three.main-textbox_mobile {
      top: 67%; } }
  @media (max-width: 1024px) {
    .main-textbox.three, .three.main-textbox_mobile {
      top: 103%; } }

.main-textbox.four, .four.main-textbox_mobile {
  top: 55%;
  left: 22%; }
  .main-textbox.four .main-textbox--arrow, .four.main-textbox_mobile .main-textbox--arrow {
    top: 100%;
    left: 100%;
    transform: rotate(45deg);
    margin-top: 20px;
    margin-left: -5px; }
  @media (max-width: 1680px) {
    .main-textbox.four, .four.main-textbox_mobile {
      left: 20%; } }
  @media (max-width: 1440px) {
    .main-textbox.four, .four.main-textbox_mobile {
      left: 19%;
      top: 52%; } }
  @media (max-width: 1024px) {
    .main-textbox.four, .four.main-textbox_mobile {
      top: 79%; } }

.main-textbox.five, .five.main-textbox_mobile {
  top: 20%;
  left: 25%; }
  .main-textbox.five .main-textbox--arrow, .five.main-textbox_mobile .main-textbox--arrow {
    top: 100%;
    left: 100%;
    transform: rotate(45deg);
    margin-top: 20px;
    margin-left: -5px; }
  @media (max-width: 1680px) {
    .main-textbox.five, .five.main-textbox_mobile {
      left: 19%; } }
  @media (max-width: 1440px) {
    .main-textbox.five, .five.main-textbox_mobile {
      left: 17%; } }
  @media (max-width: 1024px) {
    .main-textbox.five, .five.main-textbox_mobile {
      top: 36%;
      left: 15%; } }

.main--anchor {
  position: absolute;
  left: 50%;
  margin-left: -34px;
  bottom: 20px;
  width: 20px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 10px; }
  .main--anchor:before {
    position: absolute;
    width: 4px;
    height: 12px;
    background: #ffffff;
    border-radius: 2px;
    content: " ";
    left: 6px;
    top: 6px; }
  @media (max-width: 1680px) {
    .main--anchor {
      margin-left: -50px; } }
  @media (max-width: 1440px) {
    .main--anchor {
      margin-left: -38px;
      bottom: 12px; } }
  @media (max-width: 1370px) {
    .main--anchor {
      margin-left: -34px;
      bottom: 12px; } }

.item {
  text-align: center;
  font-size: 20px;
  color: #000000; }
  @media (max-width: 767px) {
    .item {
      font-size: 15px; } }

.item--icon, .item--icon_small {
  width: 144px;
  height: 136px;
  display: inline-block;
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-bottom: 20px; }

.item--icon.admin, .admin.item--icon_small {
  background-image: url("../img/icon-admin.png"); }

.item--icon.circles, .circles.item--icon_small {
  background-image: url("../img/icon-circles.png"); }

.item--icon.experience, .experience.item--icon_small {
  background-image: url("../img/icon-experience.png"); }

.item--icon.management, .management.item--icon_small {
  background-image: url("../img/icon-management.png"); }

.item--icon.money, .money.item--icon_small {
  background-image: url("../img/icon-money.png"); }

.item--icon.team, .team.item--icon_small {
  background-image: url("../img/icon-team.png"); }

.item_small {
  text-align: center;
  color: #898989;
  font-size: 20px; }
  @media (max-width: 1023px) {
    .item_small {
      font-size: 12px;
      padding: 0 60px; } }
  @media (max-width: 767px) {
    .item_small {
      margin-bottom: 20px; } }

.item--icon_small {
  width: 40px;
  height: 40px; }
  @media (max-width: 1023px) {
    .item--icon_small {
      margin-bottom: 10px; } }
  @media (max-width: 767px) {
    .item--icon_small {
      background-position: center;
      margin-bottom: 0; } }

.item--icon.bill, .bill.item--icon_small {
  background-image: url("../img/icon-bill.png"); }

.item--icon.eiffel, .eiffel.item--icon_small {
  background-image: url("../img/icon-eiffel.png"); }

.item--icon.luggage, .luggage.item--icon_small {
  background-image: url("../img/icon-luggage.png"); }

.item--icon.sea, .sea.item--icon_small {
  background-image: url("../img/icon-sea.png"); }

.text-cloud {
  text-align: center;
  font-size: 20px;
  color: #212121;
  padding: 170px 0 140px;
  background: url("../img/profit.png") no-repeat left center;
  background-size: 100%; }

.opsway {
  background: #3b413d;
  color: #ffffff;
  background-image: url("../img/opsway-bg.png");
  background-position: top -59px left 65%;
  background-repeat: no-repeat;
  padding: 85px 0 185px; }

.opsway--list-heading {
  font-size: 24px;
  text-transform: uppercase; }

.opsway--list {
  margin: 30px 0;
  font-size: 16px; }

.opsway--list-item {
  list-style-type: none;
  line-height: 28px; }

.opsway--list-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 5px 0;
  margin-right: 15px; }

.opsway--list-icon.service {
  background-image: url("../img/icon-service.png"); }

.opsway--list-icon.flexibility {
  background-image: url("../img/icon-flexibility.png"); }

.opsway--list-icon.commerce {
  background-image: url("../img/icon-commerce.png"); }

.opsway--list-icon.market {
  background-image: url("../img/icon-market.png"); }

.opsway--list-icon.distant {
  background-image: url("../img/icon-distant.png"); }

.slider--wrap {
  margin: 95px 0; }
  @media (max-width: 1024px) {
    .slider--wrap {
      margin: 55px 0; } }
  @media (max-width: 767px) {
    .slider--wrap {
      margin: 45px 0; } }

.slider .bx-wrapper .bx-viewport {
  box-shadow: none; }
.slider .bx-wrapper .bx-controls-direction a {
  width: 40px;
  height: 41px; }
.slider .bx-prev {
  background: url("../img/arrow-left.png");
  left: -130px; }
  .slider .bx-prev:hover {
    background-position: left top; }
.slider .bx-next {
  background: url("../img/arrow-right.png");
  right: -130px; }
  .slider .bx-next:hover {
    background-position: left top; }

.slider {
  padding: 0 150px; }
  @media (max-width: 1024px) {
    .slider {
      padding: 0 80px; }
      .slider .bx-prev {
        left: -65px; }
      .slider .bx-next {
        right: -65px; } }
  @media (max-width: 767px) {
    .slider {
      padding: 0 20px; }
      .slider .bx-wrapper .bx-controls-direction a {
        display: none;
      /*top: 100%;
      margin-top: 20px;
    }
    .bx-prev {
      left: 50%;
      margin-left: -60px;
    }
    .bx-next {
      right: 50%;
      margin-right: -60px;*/ } }

.main--slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 70px;
  padding-right: 60px;
  margin: 0 0 25px; }
  .main--slider .bx-wrapper .bx-viewport {
    box-shadow: none;
    background: transparent;
    border: none; }
  .main--slider .bx-wrapper .bx-controls-direction a {
    width: 40px;
    height: 41px; }
  .main--slider .bx-prev {
    background: url("../img/arrow-left.png");
    left: -60px; }
  .main--slider .bx-next {
    background: url("../img/arrow-right.png");
    right: -50px; }

.slider--img {
  width: 140px;
  border-radius: 50%;
  display: inline-block !important; }

.slider--text {
  color: #212121;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  font-weight: 100;
  padding: 0 5px; }
  @media (max-width: 767px) {
    .slider--text {
      font-size: 14px; } }

.slider--sign {
  text-align: right;
  font-size: 24px;
  color: #212121;
  margin-top: 35px; }
  @media (max-width: 767px) {
    .slider--sign {
      font-size: 14px;
      font-weight: bold; } }

.feedback {
  background: #2d3743;
  color: #ffffff;
  padding: 95px 0;
  font-weight: 100; }
  @media (max-width: 1023px) {
    .feedback {
      padding: 50px 0; } }
  @media (max-width: 767px) {
    .feedback {
      padding: 40px 0; } }

.feedback--text {
  font-size: 18px;
  margin-top: 5px; }
  @media (max-width: 767px) {
    .feedback--text {
      font-size: 14px;
      padding: 0 20px; } }

.feedback--form {
  margin-top: 55px; }
  @media (max-width: 767px) {
    .feedback--form {
      margin-top: 25px; } }

.feedback--input, .feedback--textarea {
  height: 55px;
  line-height: 55px;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 100%;
  margin-bottom: 15px;
  padding: 0 10px; }
  @media (max-width: 767px) {
    .feedback--input, .feedback--textarea {
      height: 35px;
      line-height: 35px; } }

.feedback--textarea {
  line-height: 1.5;
  height: 265px;
  padding: 15px 10px; }
  @media (max-width: 767px) {
    .feedback--textarea {
      height: 140px; } }

.feedback--button {
  width: 250px;
  margin-top: 55px; }
  @media (max-width: 1023px) {
    .feedback--button {
      margin-top: 20px; } }
  @media (max-width: 767px) {
    .feedback--button {
      margin-top: 0; } }

/*# sourceMappingURL=styles.css.map */
