@import "vars";

.button-main {
  border-radius: 25px;
  padding: 0px 30px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 100;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  background: $color-main;
  border: none;
  &:hover, &:focus {
    text-decoration: none;
    color: #ffffff;
    background: #1a9840;
  }
}
