.footer {
  background: #2d333a;
  color: #c9cacc;
  padding: 30px 0 45px;
}

.footer--link {
  color: #c9cacc;
  &:hover {
    color: #c9cacc;
  }
}
.footer--email {
  font-size: 16px;
  color: #c9cacc;
  text-decoration: underline;
  &:hover {
    color: #c9cacc;
    text-decoration: none;
  }
}

// todo: use icon font