.footer {
  background: #2d333a;
  color: #c9cacc;
  padding: 30px 0 45px;
}

.footer--link {
  color: #c9cacc;
}
.footer--link {
  font-size: 16px;
  text-decoration: underline;
}

// todo: use icon font