@import "vars";

.header {
  background: $color-second;
  color: #ffffff;
}

// logo

.logo {
  color: #ffffff;
  line-height: 48px;
  text-decoration: none;
}

.logo--img {
  vertical-align: middle;
}

.logo--text {
  line-height: 48px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.logo--divider {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 100;
  color: $color-main;
  margin: 0 10px;
}

// navigation

.header-nav {

}

.header-nav--item {
  list-style-type: none;
  display: inline;
  text-transform: uppercase;
}