@import "vars";

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-80 {
  margin-bottom: 80px;
}

.color-main {
  color: $color-main;
}

.hidden--xs {
  @media (max-width: 767px) {
    display: none;
  }
}

.hidden--sm {
  @media (max-width: 1023px) {
    display: none;
  }
}