@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,400italic,700&subset=latin,cyrillic-ext);

@import "buttons";
@import "helpers";
@import "header";
@import "footer";

@import "blocks/main";
@import "blocks/items";
@import "blocks/opsway";
@import "blocks/slider";
@import "blocks/feedback";

body {
  font-family: 'Open Sans', sans-serif;
}

.heading {
  font-size: 36px;
  font-weight: 100;
  text-align: center;
}

.heading--sign {
  font-size: 18px;
  color: #274953;
  font-weight: 100;
}

.heading--stripes {
  position: relative;
  &:before, &:after {
    content: " ";
    position: absolute;
    background: #f3f4f4;
    height: 10px;
    width: 40%;
    top: 50%;
    margin-top: -5px;
  }
  &:before {
    right: 100%;
    margin-right: 20px;
  }
  &:after {
    left: 100%;
    margin-left: 20px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}