@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,400italic,700&subset=latin,cyrillic-ext);

@import "header";
@import "buttons";
@import "helpers";

@import "blocks/main";

body {
  font-family: 'Open Sans', sans-serif;
}

.heading {

}

.item {
  text-align: center;
  font-size: 20px;
  color: #000000;
}

.item--icon {
  width: 144px;
  height: 136px;
  display: inline-block;
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

$icons: admin, circles, experience, management, money, team;

@each $icon in $icons {
  .item--icon.#{$icon}{
    background-image: url("../img/icon-#{$icon}.png");
  }
}

