.feedback--override-wrap { // override mailchimp embed form styles
  #mc_embed_signup,#mc_embed_signup form {
    all: initial;
  }
  #mc_embed_signup .mc-field-group {
    padding: 0 !important;

  }

  #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    position: absolute;
    right: -300px;
    top: 0;
    width: 220px;
    border-radius: 0;
    background: #f05268;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding: 25px 10px;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
    font-weight: 100;
  }
}

.feedback {
  background: #2d3743;
  color: #ffffff;
  padding: 95px 0;
  font-weight: 100;
  @media (max-width: 1023px) {
    padding: 50px 0;
  }
  @media (max-width: 767px) {
    padding: 40px 0;
  }
}

.feedback--text {
  font-size: 18px;
  margin-top: 5px;
  @media (max-width: 767px) {
    font-size: 14px;
    padding: 0 20px;
  }
}

.feedback--form {
  margin-top: 55px;
  @media (max-width: 767px) {
    margin-top: 25px;
  }
}

.feedback--input {
  height: 55px;
  line-height: 55px;
  background: transparent;
  border: 1px solid #ffffff !important;
  color: #212121;
  width: 100%;
  margin-bottom: 15px;
  padding: 0 10px !important;
  border-radius: 2px !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 100;
  outline: none;
  &:focus {
    background: #e9eef2;
  }
  @media (max-width: 767px) {
    height: 35px;
    line-height: 35px;
  }
}

.feedback--textarea {
  @extend .feedback--input;
  line-height: 1.5;
  height: 265px;
  padding: 15px 10px !important;
  @media (max-width: 767px) {
    height: 140px;
  }
}

.feedback--button {
  width: 250px !important;
  margin: 55px 0 0 !important;
  @media (max-width: 1023px) {
    margin: 20px 0 0 !important;
  }
  @media (max-width: 767px) {
    margin: 0 !important;
  }
}
