.item {
  text-align: center;
  font-size: 20px;
  color: #000000;
  @media (max-width: 767px) {
    font-size: 15px;
  }
}

.item--icon {
  width: 144px;
  height: 136px;
  display: inline-block;
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

$icons: admin, circles, experience, management, money, team;

@each $icon in $icons {
  .item--icon.#{$icon}{
    background-image: url("../img/icon-#{$icon}.png");
  }
}

.item_small {
  text-align: center;
  color: #898989;
  font-size: 20px;
  @media (max-width: 1023px) {
    font-size: 12px;
    padding: 0 60px;
  }
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.item--icon_small {
  @extend .item--icon;
  width: 40px;
  height: 40px;
  @media (max-width: 1023px) {
    margin-bottom: 10px;
  }
  @media (max-width: 767px) {
    background-position: center;
    margin-bottom: 0;
  }
}

$icons-small: bill, eiffel, luggage, sea;

@each $icon in $icons-small {
  .item--icon.#{$icon}{
    background-image: url("../img/icon-#{$icon}.png");
  }
}

.text-cloud {
  text-align: center;
  font-size: 20px;
  color: #212121;
  padding: 170px 0 140px;
  background: url("../img/profit.png") no-repeat left center;
  background-size: 100%;
}