.main {
  margin-top: 75px;
  height: calc(100vh - 75px);
  background-color: #2d3743;
  position: relative;
  display: flex;
  justify-content: center;
}

.main--image {
  align-self: center;
  width: 525px;
  height: 643px;
  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  @media (max-width: 1440px) {
    width: 400px;
    height: 490px;
  }
  @media (max-width: 1370px) {
    width: 340px;
    height: 410px;
  }
  @media (max-width: 1024px) {
    margin-top: 39%;
  }
  @media (max-width: 767px) {
    margin: -15px 0 0;
    margin-right: -35px;
    width: 220px;
    height: 265px;
  }
}

.main--heading {
  color: #ffffff;
  margin-top: 65px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  @media (max-width: 1440px) {
    margin-top: 40px;
  }
  @media (max-width: 1024px) {
    font-size: 24px;
  }
  @media (max-width: 767px) {
    font-size: 20px;
    padding: 0 15px;
    margin-top: 30px;
    line-height: 1.5;
  }
}

.main-textbox {
  background: linear-gradient(to top, #dbe9e9, #ffffff);
  color: #274953;
  border-radius: 10px;
  position: absolute;
  padding: 10px 20px;
}

.main-textbox_mobile {
  @extend .main-textbox;
  position: static;
  width: 100%;
  height: 55px;
  font-size: 13px;
  text-align: center;
  padding: 10px;
}

.main-textbox--arrow {
  background: #53aac4;
  width: 50px;
  position: absolute;
  height: 1px;
}

// todo: mixin and responsive positioning

$textboxes: one, two, three, four, five;

@each $textbox in $textboxes {
  .main-textbox.#{$textbox}{

  }
}

.main-textbox.one {
  left: 60%;
  top: 25%;
  .main-textbox--arrow {
    top: 100%;
    right: 100%;
    transform: rotate(-45deg);
    margin-top: 20px;
    margin-right: -5px;
  }
  @media (max-width: 1680px) {
    top: 18%;
  }
  @media (max-width: 1440px) {
    top: 20%;
  }
  @media (max-width: 1370px) {
    top: 15%;
  }
  @media (max-width: 1024px) {
    top: 35%;
  }
}

.main-textbox.two {
  top: 55%;
  left: 66%;
  .main-textbox--arrow {
    bottom: 100%;
    right: 100%;
    transform: rotate(45deg);
    margin-bottom: 20px;
    margin-right: -5px;
  }
  @media (max-width: 1680px) {
    top: 50%;
    left: 69%;
  }
  @media (max-width: 1370px) {
    left: 65%;
  }
  @media (max-width: 1024px) {
    top: 86%;
    left: 69%;
  }
}

.main-textbox.three {
  top: 70%;
  left: 62%;
  .main-textbox--arrow {
    bottom: 100%;
    right: 100%;
    transform: rotate(45deg);
    margin-bottom: 20px;
    margin-right: -5px;
  }
  @media (max-width: 1680px) {
    top: 63%;
  }
  @media (max-width: 1370px) {
    top: 67%;
  }
  @media (max-width: 1024px) {
    top: 103%;
  }
}

.main-textbox.four {
  top: 55%;
  left: 22%;
  .main-textbox--arrow {
    top: 100%;
    left: 100%;
    transform: rotate(45deg);
    margin-top: 20px;
    margin-left: -5px;
  }
  @media (max-width: 1680px) {
    left: 20%;
  }
  @media (max-width: 1440px) {
    left: 19%;
    top: 52%;
  }
  @media (max-width: 1024px) {
    top: 79%;
  }
}

.main-textbox.five {
  top: 20%;
  left: 25%;
  .main-textbox--arrow {
    top: 100%;
    left: 100%;
    transform: rotate(45deg);
    margin-top: 20px;
    margin-left: -5px;
  }
  @media (max-width: 1680px) {
    left: 19%;
  }
  @media (max-width: 1440px) {
    left: 17%;
  }
  @media (max-width: 1024px) {
    top: 36%;
    left: 15%;
  }
}

.main--anchor {
  position: absolute;
  left: 50%;
  margin-left: -34px;
  bottom: 20px;
  width: 20px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  &:before {
    position: absolute;
    width: 4px;
    height: 12px;
    background: #ffffff;
    border-radius: 2px;
    content: " ";
    left: 6px;
    top: 6px;
  }
  @media (max-width: 1680px) {
    margin-left: -50px;
  }
  @media (max-width: 1440px) {
    margin-left: -38px;
    bottom: 12px;
  }
  @media (max-width: 1370px) {
    margin-left: -34px;
    bottom: 12px;
  }
}