.main--wrap {
  padding-top: 75px;
  @media (max-width: 1024px) {
    margin-top: 50px;
  }
}

.main {
  height: calc(100vh - 75px);
  background-color: #2d3743;
  position: relative;
  display: flex;
  justify-content: center;
}

.main--image {
  align-self: center;
  width: 480px;
  height: 580px;
  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  @media (max-width: 1680px) {
    width: 400px;
    height: 490px;
  }
  @media (max-width: 1440px) {
    width: 350px;
    height: 422px;
  }
  @media (max-width: 1370px) {
    width: 300px;
    height: 366px;
    margin-top: 70px;
  }
  @media (max-width: 1024px) {
    margin-top: 39%;
  }
  @media (max-width: 767px) {
    margin: -15px 0 0;
    margin-right: -35px;
    width: 220px;
    height: 265px;
  }
}

.main--heading {
  color: #ffffff;
  margin-top: 65px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  @media (max-width: 1440px) {
    margin-top: 40px;
  }
  @media (max-width: 1024px) {
    font-size: 24px;
  }
  @media (max-width: 767px) {
    font-size: 20px;
    padding: 0 15px;
    margin-top: 30px;
    line-height: 1.5;
  }
}

.main-textbox {
  background: linear-gradient(to top, #dbe9e9, #ffffff);
  color: #274953;
  border-radius: 5px;
  position: absolute;
  padding: 5px 20px;
}

.main-textbox_mobile {
  @extend .main-textbox;
  position: static;
  width: 100%;
  height: 55px;
  font-size: 13px;
  text-align: center;
  padding: 10px;
}

.main-textbox--arrow {
  background: #53aac4;
  width: 50px;
  position: absolute;
  height: 1px;
}

// todo: mixin and responsive positioning

$textboxes: one, two, three, four, five;

@each $textbox in $textboxes {
  .main-textbox.#{$textbox}{

  }
}

.main-textbox.one {
  right: -87px;
  top: -2px;

  .main-textbox--arrow {
    top: 100%;
    right: 100%;
    transform: rotate(-45deg);
    margin-top: 20px;
    margin-right: -5px;
  }
  @media (max-width: 1370px) {
    right: -120px;
    top: -25px;
  }
  @media (max-width: 1680px) {
  }
  @media (max-width: 1440px) {
  }

  @media (max-width: 1024px) {
  }
}

.main-textbox.two {
  top: 260px;
  right: -190px;
  .main-textbox--arrow {
    bottom: 100%;
    right: 100%;
    transform: rotate(45deg);
    margin-bottom: 20px;
    margin-right: -5px;
  }
  @media (max-width: 1680px) {
  }
  @media (max-width: 1440px) {
    top: 180px;
  }
  @media (max-width: 1370px) {
  }
  @media (max-width: 1024px) {
  }
}

.main-textbox.three {
  bottom: 70px;
  right: -160px;
  .main-textbox--arrow {
    bottom: 100%;
    right: 100%;
    transform: rotate(45deg);
    margin-bottom: 20px;
    margin-right: -5px;
  }
  @media (max-width: 1680px) {
  }
  @media (max-width: 1440px) {
    bottom: 40px;
  }
  @media (max-width: 1024px) {
  }
}

.main-textbox.four {
  left: -240px;
  bottom: 195px;
  .main-textbox--arrow {
    top: 100%;
    left: 100%;
    transform: rotate(45deg);
    margin-top: 20px;
    margin-left: -5px;
  }
  @media (max-width: 1680px) {
  }
  @media (max-width: 1440px) {
    bottom: 175px;
  }
  @media (max-width: 1370px) {
    bottom: 155px;
  }
  @media (max-width: 1024px) {
  }
}

.main-textbox.five {
  top: -30px;
  left: -245px;
  .main-textbox--arrow {
    top: 100%;
    left: 100%;
    transform: rotate(45deg);
    margin-top: 20px;
    margin-left: -5px;
  }
  @media (max-width: 1680px) {
  }
  @media (max-width: 1440px) {
  }
  @media (max-width: 1370px) {
    left: -260px;
  }
  @media (max-width: 1024px) {
  }
}

.main--anchor {
  position: absolute;
  left: 50%;
  margin-left: -34px;
  bottom: 20px;
  width: 20px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  &:before {
    position: absolute;
    width: 4px;
    height: 12px;
    background: #ffffff;
    border-radius: 2px;
    content: " ";
    left: 6px;
    top: 6px;
  }
  @media (max-width: 1680px) {
    margin-left: -50px;
  }
  @media (max-width: 1440px) {
    margin-left: -38px;
    bottom: 12px;
  }
  @media (max-width: 1370px) {
    margin-left: -34px;
    bottom: 12px;
  }
}