.opsway {
  background: #3b413d;
  color: #ffffff;
  background-image: url("../img/opsway-bg.png");
  background-position: top -59px left 65%;
  background-repeat: no-repeat;
  padding-top: 85px;
  height: 100vh;
}

.opsway--list-heading {
  font-size: 24px;
  text-transform: uppercase;
}

.opsway--list {
  margin: 30px 0;
  font-size: 16px;
}

.opsway--list-item {
  list-style-type: none;
  line-height: 28px;
}

.opsway--list-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 5px 0;
  margin-right: 15px;
}

$icons: service, flexibility, commerce, market, distant;

@each $icon in $icons {
  .opsway--list-icon.#{$icon}{
    background-image: url("../img/icon-#{$icon}.png");
  }
}
