.slider {
  margin: 95px 0;
  .bx-wrapper .bx-viewport {
    box-shadow: none;
  }
  .bx-wrapper .bx-controls-direction a {
    width: 40px;
    height: 41px;
  }
  .bx-prev {
    background: url("../img/arrow-left.png");
    left: -155px;
    &:hover {
      background-position: left top;
    }
  }
  .bx-next {
    background: url("../img/arrow-right.png");
    right: -155px;
    &:hover {
      background-position: left top;
    }
  }
}

.slider--img {
  width: 140px;
  border-radius: 50%;
  display: inline-block !important; // override slider style
}

.slider--text {
  color: #212121;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  font-weight: 100;
  padding: 0 5px;

}

.slider--sign {
  text-align: right;
  font-size: 24px;
  color: #212121;
  margin-top: 35px;
}