.slider {
  margin: 95px 0;
  .bx-wrapper .bx-viewport {
    box-shadow: none;
  }
}

.slider--img {
  width: 140px;
  border-radius: 50%;
  display: inline-block !important; // override slider style
}

.slider--text {
  color: #212121;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  font-weight: 100;

}

.slider--sign {
  text-align: right;
  font-size: 24px;
  color: #212121;
  margin-top: 35px;
}