.slider--wrap {
  margin: 95px 0;
  @media (max-width: 1024px) {
    margin: 55px 0;
  }
  @media (max-width: 767px) {
    margin: 45px 0;
  }
}

.slider {
  .bx-wrapper .bx-viewport {
    box-shadow: none;
  }
  .bx-wrapper .bx-controls-direction a {
    width: 40px;
    height: 41px;
  }
  .bx-prev {
    background: url("../img/arrow-left.png");
    left: -130px;
    &:hover {
      background-position: left top;
    }
  }
  .bx-next {
    background: url("../img/arrow-right.png");
    right: -130px;
    &:hover {
      background-position: left top;
    }
  }
}

.slider {
  padding: 0 150px;
  @media (max-width: 1024px) {
    padding: 0 80px;
    .bx-prev {
      left: -65px;
    }
    .bx-next {
      right: -65px;
    }
  }
  @media (max-width: 767px) {
    padding: 0 20px;
    //padding-bottom: 60px;
    .bx-wrapper .bx-controls-direction a {
      display: none;
      /*top: 100%;
      margin-top: 20px;
    }
    .bx-prev {
      left: 50%;
      margin-left: -60px;
    }
    .bx-next {
      right: 50%;
      margin-right: -60px;*/
    }
  }
}

.main--slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 70px;
  padding-right: 60px;
  margin: 0 0 25px;
  .bx-wrapper .bx-viewport {
    box-shadow: none;
    background: transparent;
    border: none;
  }
  .bx-wrapper .bx-controls-direction a {
    width: 40px;
    height: 41px;
  }
  .bx-prev {
    background: url("../img/arrow-left.png");
    left: -60px;
  }
  .bx-next {
    background: url("../img/arrow-right.png");
    right: -50px;
  }
}

.slider--img {
  width: 140px;
  border-radius: 50%;
  display: inline-block !important; // override slider style
}

.slider--text {
  color: #212121;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  font-weight: 100;
  padding: 0 5px;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.slider--sign {
  text-align: right;
  font-size: 24px;
  color: #212121;
  margin-top: 35px;
  @media (max-width: 767px) {
    font-size: 14px;
    font-weight: bold;
  }
}